/* No card overrides.
   All card colors, backgrounds, borders, shadows, and hovers will be exactly as in light mode.
   Only override text or backgrounds outside of cards if needed. */

body.darkmode .unified-name {
  text-shadow:
    2px 0 #fffbe1,
   -2px 0 #fffbe1,
    0 2px #fffbe1,
    0 -2px #fffbe1,
    1px 1px 0 #000;
}

body.darkmode .unified-info {
  background: rgba(40,40,40,0.18);
  color: var(--text-main);
}
